REACT_APP_GOOGLE_SHEET_ID=your_google_sheet_id_here
REACT_APP_GOOGLE_API_KEY=your_google_api_key_here
REACT_APP_GOOGLE_APPS_SCRIPT_URL=your_google_apps_script_url_here
REACT_APP_RESEND_API_KEY=your_resend_api_key_here
